// BLACKS
$base-color-black-1: #111111;
$base-color-black-2: #222222;
$base-color-black-3: #303030;

// WHITES
$base-color-snow: #f4f4f4;
$base-color-off-white: #F5F5F5;
$base-color-light-gray: #F0F0F0;

// COLORS
$base-color-dark-blue: #6997a5;
$base-color-blue-trust: #5a9eb9;
$base-color-orange: #ff934b;
$base-color-yellow: #FCCA46;
$base-color-green: #ceffb2;
$base-color-blgr: #619B8A;
$base-color-gray: #B1B1B1;
$base-color-purple: #9f70b4;

// WIDTH SIZES
$width-mobile: 480px;
$width-tablet: 768px;
$width-sm-desktop: 992px;
$width-md-desktop: 1200px;
$width-lg-desktop: 1440px;


